#MainWindow {
    border-image: url("assets/background_dark.jpg") 0 0 0 0 stretch;
    /* background-color: rgb(240, 240, 240); */
}

QPushButton {
    color: #fff;
    background: #5551ff;
    border: none;
    font-weight: 800;
    border-radius: 10%;
}

QPushButton:hover {
    background: #c82af8;
    color: #fff;
}

#message {
    color: #fff;
}
